<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Inicio</title>
	<!-- fuentes -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Vollkorn:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
    <!--seo-->
	<meta name="description" content="Los vestidos mas parisinos de Buenos Aires">
	<meta name="keywords" content="Vestidos Tops Parisino Estilo Cottagecore Verano Primavera">
	<!-- bootstrap -->
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<!-- mi css -->
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
	<div class="container-fluid px-0">
            <div class="navbar">
                <h2 class="title"><a href="../index.html">Florilegium</a></h2>
                <nav class="">
                    <ul>
                        <li><a href="../views/productos.html">Productos</a></li>
                        <li><a href="../views/nosotros.html">Nosotros</a></li>
                        <li><a href="../views/contacto.html">Contacto</a></li>
                        <li><a href="../views/servicios.html">Servicios</a></li>
                    </ul>
                </nav>
            </div>
            <div>
            	<img src="../assets/img/82.jpg" class="headerPaddingL" alt="header">
            </div>
        <div class="row no-gutters px-4 py-4">
			<div class="col-lg-4 col-xs-12">
				<!-- Card -->
				<div class="view overlay z-depth-2 rounded">
    				<img class="img-fluid w-100" src="../assets/img/48.jpg" alt="Sample">
    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
    			</div>
    			<div class="text-center pt-4">
					<h5 class="fontText">Vestido Marianne</h5>
    				<p class="small text-muted text-uppercase mb-2">Vestidos</p>
    				<h6 class="mb-2"><span>$5000</span></h6>
    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
				</div>
			</div>
		<!-- Card -->
			<div class="col-lg-4 col-xs-12">
				<!-- Card -->
				<div class="view overlay z-depth-2 rounded">
    				<img class="img-fluid w-100" src="../assets/img/47.jpg" alt="Sample">
    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
    			</div>
    			<div class="text-center pt-4">
					<h5 class="fontText">Vestido Anne</h5>
    				<p class="small text-muted text-uppercase mb-2">Vestidos</p>
    				<h6 class="mb-2"><span>$5300</span></h6>
    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12">
				<!-- Card -->
				<div class="view overlay z-depth-2 rounded">
    				<img class="img-fluid w-100" src="../assets/img/49.jpg" alt="Sample">
    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
    			</div>
    			<div class="text-center pt-4">
					<h5 class="fontText">Vestido Ruby</h5>
    				<p class="small text-muted text-uppercase mb-2">Vestidos</p>
    				<h6 class="mb-2"><span>$5000</span></h6>
    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
				</div>
			</div>	
		</div>	
		<div class="row no-gutters px-4 py-4">
				<div class="col-lg-4 col-xs-12">
					<!-- Card -->
					<div class="view overlay z-depth-2 rounded">
	    				<img class="img-fluid w-100" src="../assets/img/64.jpg" alt="Sample">
	    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
	    			</div>
	    			<div class="text-center pt-4">
						<h5 class="fontText">Top Emma</h5>
	    				<p class="small text-muted text-uppercase mb-2">Tops</p>
	    				<h6 class="mb-2"><span>$2500</span></h6>
	    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
					</div>
				</div>
		<!-- Card -->
			<div class="col-lg-4 col-xs-12">
				<!-- Card -->
				<div class="view overlay z-depth-2 rounded">
    				<img class="img-fluid w-100" src="../assets/img/65.jpg" alt="Sample">
    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
    			</div>
    			<div class="text-center pt-4">
					<h5 class="fontText">Top Sophia</h5>
    				<p class="small text-muted text-uppercase mb-2">Tops</p>
    				<h6 class="mb-2"><span>$3700</span></h6>
    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
				</div>
			</div>
			<div class="col-lg-4 col-xs-12">
				<!-- Card -->
				<div class="view overlay z-depth-2 rounded">
    				<img class="img-fluid w-100" src="../assets/img/68.jpg" alt="Sample">
    				<a href="#!"><div class="mask rgba-white-slight"></div></a>
    			</div>
    			<div class="text-center pt-4">
					<h5 class="fontText">Top Amelia</h5>
    				<p class="small text-muted text-uppercase mb-2">Tops</p>
    				<h6 class="mb-2"><span>$3900</span></h6>
    				<button type="button" class="btn btn-sm mr-1 mb-2">Agregar al carrito</button>
				</div>
			</div>	
		</div>	
		<div class="social-link">
			<h3>redes</h3>
            <a href="#">INSTAGRAM</a>
            <a href="#">PINTEREST</a>
            <a href="#">FACEBOOK</a>
        </div> 
	</div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>