<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Servicios</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&family=Vollkorn:ital,wght@0,500;1,500&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="../assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">
</head>
<body>
	<div class="containerSrvc">
		<a href="../index.html">
	  	<div class="centered title">PRONTO</div></a>
	</div>
	<div class="social-link-index">
            <a href="#">INSTAGRAM</a>
            <a href="#">PINTEREST</a>
            <a href="#">FACEBOOK</a>
    </div>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="assets/js/bootstrap.bundle.min.js"></script>
</body>
</html>